<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#46B4F2] min-h-full">
    <div class="flex justify-center">
        <a href="HomePage.html"><img class="relative mt-8" src="../../icon/logo.svg"></a>
    </div>
    <div class="flex justify-center mt-12">
        <h2 class="font-bold text-3xl" style="font-family: 'Inria Sans', sans-serif;">Get in touch!</h2>
    </div>
    <div class="bg-[#1C1D23] mx-12 mt-8 py-12 px-8 flex flex-col items-center rounded-xl shadow">
        <p class="text-white mb-8 text-xl">Tel: <a href="tel:0206750333">020-6750333</p>
        <p class="text-white text-xl">E-mail: <a href="mailto:info@mrfix.nl" class="border-b-2 border-white">info@mrfix.nl</a></p>
    </div>
    <footer class="bg-black py-4 flex justify-around items-center mb-0 absolute bottom-0 w-full">
        <a href="www.facebook.com"><img src="../../icon/Facebook.svg" class="w-[32px]"></a>
        <a href="www.twitter.com"><img src="../../icon/Twitter.svg" class="w-[32px]"></a>
        <a href="www.instagram.com"><img src="../../icon/Instagram.svg" class="w-[32px]"></a>
    </footer>
</body>
</html>

<style>
    .shadow {
        -webkit-box-shadow: 12px 12px 3px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 12px 12px 3px 0px rgba(0,0,0,0.5);
        box-shadow: 12px 12px 3px 0px rgba(0,0,0,0.5);
    }
</style>