<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Confirmed</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background: #58ED70;">
    <div class="flex justify-center">
        <img class="relative mt-8" src="../icon/logo.svg">
    </div>
    <div class="flex justify-center items-center mt-40 mx-20 rounded-xl h-20 text-lg shadow" style="background: #000000">
        <h2 class="text-center" style="color: white">Your job has been requested!</h2>
    </div>
    

    <footer class="bg-black py-2 flex justify-around items-center rounded-t-2xl mb-0 absolute bottom-0 w-full">
        <img src="../icon/SupportButton.svg">
        <div class="h-16 w-2 bg-white rounded-full"></div>
        <button class="bg-white text-black px-4 py-2 rounded-full font-bold uppercase">Login</button>
    </footer>
</body>
</html>


<style>
    .shadow {
        -webkit-box-shadow: 12px 12px 3px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 12px 12px 3px 0px rgba(0,0,0,0.5);
        box-shadow: 12px 12px 3px 0px rgba(0,0,0,0.5);
    }
</style>