<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Job Confirmed</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background: #58ED70; font-family: 'Inria Sans', sans-serif;">
    <div class="flex justify-center">
        <a href="HomePage.html"><img class="relative mt-8" src="../icon/logo.svg"></a>
    </div>
    <h2 class="text-center mt-16 mb-8 font-bold text-3xl">Thanks for using MrFix!</h2>
    <div class="flex justify-center items-center mx-20 p-6 rounded-xl h-20 text-lg shadow" style="background: #000000">
        <h2 class="text-center" style="color: white">Your job has been requested!</h2>
    </div>
    
    <img src="../icon/CurveBackground.svg" class="absolute bottom-0 w-full">
    <div class="bottom-48">
        <a href="HomePage.html" class="flex justify-center">
            <button style="background: #58ED70" class="greenshadow absolute bottom-20 px-8 py-2 text-white font-bold rounded-lg text-2xl">Go back</button>
        </a>
    </div>
    <script type="application/javascript" src="../scripts/app.js"></script>
</body>
</html>


<style>
    .shadow {
        -webkit-box-shadow: 12px 12px 3px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 12px 12px 3px 0px rgba(0,0,0,0.5);
        box-shadow: 12px 12px 3px 0px rgba(0,0,0,0.5);
    }
    .greenshadow {
        -webkit-box-shadow: 12px 12px 3px 0px rgba(43,105,33,0.5);
        -moz-box-shadow: 12px 12px 3px 0px rgba(43,105,33,0.5);
        box-shadow: 12px 12px 3px 0px rgba(43,105,33,0.5);
    }
</style>