<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Elektricien opties </title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="bg-[#58ED70]">
    <div class="flex justify-center mt-8">
        <img src="../icon/Logo.svg">
    </div>
    <div class="flex justify-center">
        <div class="flex justify-center flex-col pt-10 pb-10">
            <div class="flex flex-col items-center">
                <h2 class="font-bold text-2xl text-center">Wat moet de elektricen doen?<h2>
                    <p class="text-lg">Maak een keuze</p>
            </div>
            <div class="flex justify-center">
                <form>
                    <div id="choices" class="shadow flex justify-center flex-col-reverse flex-wrap text-sm bg-[#1C1D23] p-4 mt-8">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Stopcontacten en schakelaars installeren" value="Stopcontacten en schakelaars installeren">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Groepenkast installeren of uitbreiden
                        " value="Groepenkast installeren of uitbreiden"> 
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Tuin- of buitenverlichting installeren
                        " value="Tuin- of buitenverlichting installeren"> 
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2 text-center" name="Verlichting installeren of verplaatsen
                        " value="Verlichting installeren of verplaatsen"> 
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer w-/12 py-4 px-2" name="Laadpaal plaatsen of vervangen" value="Laadpaalplaatsen of vervangen">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Deurbel of intercom installeren of repareren
                        " value="Deurbel of intercom installeren of repareren">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Keuken gereedmaken voor plaatsing
                        " value="Keuken gereedmaken voor plaatsing">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Zonnepaneel systeem installeren of onderhouden" value="Zonnepaneel systeem installeren of onderhouden">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="bg-black py-2 flex justify-center items-center mb-0">
        <img src="../icon/SupportButton.svg">
    </footer>

    <script type="application/javascript" src="../scripts/script_elektricien_concepten.js"></script>
</body>
</html>

<style>
    .shadow {
        -webkit-box-shadow: 20px 20px 3px 0px rgba(7,7,7,0.5);
        -moz-box-shadow: 20px 20px 3px 0px rgba(7,7,7,0.5);
        box-shadow: 20px 20px 3px 0px rgba(7,7,7,0.5);
    }
</style>