<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hovenier opties </title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="bg-[#58ED70] p-3">
    <div class="flex justify-center mt-8">
        <a href="HomePage.html"><img src="../icon/Logo.svg"></a>
    </div>
    <div class="flex justify-center">
        <div class="flex justify-center flex-col pt-10 pb-10">
            <div class="flex flex-col items-center">
                <h2 class="font-bold text-2xl text-center">Wat moet de hovenier doen?<h2>
                    <p class="text-lg">Maak een keuze</p>
            </div>
            <div class="flex justify-center">
                <form>
                    <div id="choices" class="shadow flex justify-center flex-col-reverse flex-wrap text-sm bg-[#1C1D23] p-4 mt-8">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Tuin irrigatie" value="Tuin irrigatie">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Tuinaanleg" value="Tuinaanleg"> 
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Tuinontwerp" value="Tuinontwerp"> 
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Tuinonderhoud" value="Tuinonderhoud"> 
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer w-/12 py-4 px-2" name="Gras, struiken en heggen snoeien of verwijderen" value="Gras, struiken en heggen snoeien of verwijderen">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Gras leggen of zaaien" value="Gras leggen of zaaien">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Tuin of buitenverlichting installeren" value="Tuin of buitenverlichting installeren">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Vijver aanleggen" value="Vijver aanleggen">
                        <input type="button" class="bg-black hover:bg-blue-700 text-white font-bold rounded m-1 cursor-pointer py-4 px-2" name="Bomen of struiken planten" value="Bomen of struiken planten">
                    </div>
                </form>
            </div>
                <div class="flex justify-center mt-12 mb-12 relative z-1"><a href="HomePage.html"><button style="background: #FB002D" class="px-12 py-2 text-2xl rounded-full text-center border border-black text-white">Terug</button></a></div>       
            </div>
    </div>
    <script type="application/javascript" src="../scripts/app.js"></script>
</body>
</html>

<style>
    .shadow {
        -webkit-box-shadow: 20px 20px 3px 0px rgba(7,7,7,0.5);
        -moz-box-shadow: 20px 20px 3px 0px rgba(7,7,7,0.5);
        box-shadow: 20px 20px 3px 0px rgba(7,7,7,0.5);
    }
</style>
