<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MrFix | Klanteninformatie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background: #58ED70">
    <div class="flex justify-center">
        <img src="../icon/Logo.svg" class="mt-8">
    </div>
    <div class="px-12">
        <div style="font-family: 'Inria Sans', sans-serif;">
            <h3 class="text-white font-bold text-3xl mt-4">Get started</h3>
            <p class="text-xl font-bold">To start, fill in your details</p>
        </div>
        <div style="background: #1C1D23" class="shadow rounded-xl text-white px-4 py-8 mt-12">
            <label class="block text-xl mb-2 font-bold">Full name</label>
            <input type="text" class="bg-black rounded-full h-10 w-full mb-4 px-4 outline-0">
            <label class="block text-xl mb-2 font-bold">City</label>
            <input type="text" class="bg-black rounded-full h-10 w-full mb-4 px-4 outline-0">
            <label class="block text-xl mb-2 font-bold">Street line</label>
            <input type="text" class="bg-black rounded-full h-10 w-full mb-4 px-4 outline-0">
            <label class="block text-xl mb-2 font-bold">Postal code</label>
            <input type="text" class="bg-black rounded-full h-10 w-full mb-4 px-4 outline-0">
            <label class="block text-xl mb-2 font-bold">E-mail address</label>
            <input type="text" class="bg-black rounded-full h-10 w-full mb-4 px-4 outline-0">
            <label class="block text-xl mb-2 font-bold">Password</label>
            <input type="email" required class="bg-black rounded-full h-10 w-full mb-5 px-4 outline-0">
            <label class="block text-xl mb-2 font-bold">Telephone number</label>
            <input type="tel" id="phone" pattern="[0-6]{2}[0-9]{8}" required class="bg-black rounded-full h-10 w-full mb-5 px-4 outline-0">
        </div>
        <div class="flex justify-center mt-12 mb-12"><a href="HomePage.html"><button style="background: #1C1D23" class="px-24 pb-4 text-4xl rounded-full text-center">👉</button></a></div>
    </div>
</body>
</html>

<style>
    .shadow {
        -webkit-box-shadow: 20px 20px 3px 0px rgba(7,7,7,0.5);
        -moz-box-shadow: 20px 20px 3px 0px rgba(7,7,7,0.5);
        box-shadow: 20px 20px 3px 0px rgba(7,7,7,0.5);
    }
</style>